/*------------------------------
    PRELOADER
-------------------------------*/

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 5px solid #00b9ff;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}

@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .area-title-and-description h2 {
        letter-spacing: 5px;
    }
    .side-push-menu {
        height: 80px;
        padding-top: 26px;
    }
    .is-sticky .side-push-menu {
        height: 60px;
        padding-bottom: 20px;
        padding-top: 17px;
    }
    .navbar-header {
        margin-top: 16px;
    }
    ul#nav li a {
        padding: 30px 10px;
        letter-spacing: 0;
    }
    .is-sticky ul#nav li a {
        padding: 22px 10px;
    }
    /*--------------------------*/
    .welcome-text-area {
        padding-top: 80px;
    }
    /*--------------------------*/
    .single-blog-image::after {
        right: -51.7%;
        width: 52%;
    }
    .single-blog:nth-child(2n) .single-blog-image::after {
        left: -51.5%;
    }
    .contact-form textarea {
        height: 135px;
    }
    input.form-control,
    .contact-form textarea {
        min-height: 35px;
    }
}


/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding: 80px 0;
    }
    .padding-top {
        padding-top: 80px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse,
    .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        border-bottom: 1px solid #00b9ff;
        float: none;
        margin: 0;
        padding: 15px 0;
    }
    .is-sticky .navbar-header {
        margin-top: 0;
        padding: 7px 0;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .mainmenu-area {
        background: #272727 none repeat scroll 0 0;
    }
    ul#nav li a,
    .is-sticky ul#nav li a {
        color: #fff;
        padding: 10px 15px;
    }
    ul#nav li a:hover,
    ul#nav li.active a {
        background: #333 none repeat scroll 0 0;
    }
    ul#nav li a::after,
    ul#nav li a::before {
        display: none;
    }
    .side-push-menu {
        position: absolute;
        right: 41px;
        top: -9px;
        display: none;
    }
    /*-----------------*/
    .area-title-and-description {
        margin-bottom: 70px;
    }
    .area-title-and-description h2 {
        letter-spacing: 5px;
        margin-bottom: 40px;
    }
    .welcome-text h2,
    .welcome-text h3 {
        font-size: 50px;
    }
    .welcome-text h1 {
        font-size: 50px;
    }
    .about-img img {
        margin-bottom: 50px;
        width: 100%;
    }
    .row.timeline .col-lg-6 {
        margin-top: 50px;
    }
    .row.timeline .col-lg-6:nth-child(2n) {
        margin-top: 50px;
    }
    .row.timeline .col-lg-6 .single-timeline-content {
        padding-top: 30px;
        margin: 0 !important;
    }
    .single-timeline-content::before {
        left: 50%;
        margin-left: -25px;
        top: -20px;
        -webkit-transform: rotate(-90deg) skewX(15deg);
        transform: rotate(-90deg) skewX(15deg);
    }
    .row.timeline .col-lg-6:nth-child(2n) .single-timeline-content::before {
        bottom: auto;
        left: 50%;
        margin-left: -25px;
        top: -20px;
        -webkit-transform: rotate(90deg) skewX(15deg);
        transform: rotate(90deg) skewX(15deg);
    }
    .single-timeline-content::after {
        bottom: -10px;
        left: 50%;
        margin-left: -11px;
        right: auto;
        top: auto;
    }
    .row.timeline .col-lg-6:nth-child(2n) .single-timeline-content::after {
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
    }
    .row.timeline .col-lg-6:last-child .single-timeline-content::after {
        display: none;
    }
    .skillst .skillbar:first-child {
        margin-top: 20px;
    }
    .single-blog-image::after {
        right: -9.7%;
        width: 10%;
        z-index: 9;
    }
    .single-blog:nth-child(2n) .single-blog-image::after {
        border-bottom: 2px solid #ebebeb;
        border-top: 0 none;
        left: -10%;
        right: auto;
    }
    .row.gallery-list > div:last-child .single-gallery {
        margin-bottom: 0;
    }
    .gallery-img img {
        width: 100%;
    }
    .single-contact {
        padding: 0;
        text-align: center;
    }
    .contact-icon {
        display: block;
        margin: 0 auto;
        position: static;
        text-align: center;
    }
}


/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title {
        margin-bottom: 50px;
    }
    .area-title h2 {
        font-size: 28px;
    }
    .padding-top {
        padding-top: 50px;
    }
    .navbar-header {
        border-bottom: 1px solid #00b9ff;
        margin: 0;
        padding: 15px 0;
    }
    .is-sticky .navbar-header {
        margin-top: 0;
        padding: 5px 0;
    }
    .navbar-collapse {
        padding: 0;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
        margin: 0;
    }
    ul#nav li {
        float: none;
    }
    .navbar-brand > img {
        width: 90%;
    }
    .is-sticky .navbar-brand > img {
        max-width: 90%;
    }
    .mainmenu-area {
        background: #272727 none repeat scroll 0 0;
    }
    ul#nav li a,
    .is-sticky ul#nav li a {
        color: #fff;
        padding: 10px 15px;
    }
    ul#nav li a:hover,
    ul#nav li.active a {
        background: #333 none repeat scroll 0 0;
    }
    ul#nav li a::after,
    ul#nav li a::before {
        display: none;
    }
    .side-push-menu {
        position: absolute;
        right: 41px;
        top: -9px;
        display: none;
    }
    /*-----------------*/
    .area-title-and-description {
        margin-bottom: 50px;
    }
    .area-title-and-description h2 {
        letter-spacing: 5px;
        margin-bottom: 40px;
        font-size: 30px;
    }
    .welcome-text {
        text-align: center;
    }
    .welcome-text h2,
    .welcome-text h3 {
        font-size: 30px;
    }
    .welcome-text h1 {
        font-size: 30px;
    }
    .call-to-action {
        display: inherit;
        margin-top: 20px;
    }
    .call-to-action a {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .home-button {
        margin-top: 20px;
    }
    .about-img img {
        margin-bottom: 50px;
        width: 100%;
    }
    .row.timeline .col-lg-6 {
        margin-top: 50px;
    }
    .row.timeline .col-lg-6:nth-child(2n) {
        margin-top: 50px;
    }
    .row.timeline .col-lg-6 .single-timeline-content {
        padding-top: 30px;
        margin: 0 !important;
    }
    .single-timeline-content::before {
        left: 50%;
        margin-left: -25px;
        top: -20px;
        -webkit-transform: rotate(-90deg) skewX(15deg);
        transform: rotate(-90deg) skewX(15deg);
    }
    .row.timeline .col-lg-6:nth-child(2n) .single-timeline-content::before {
        bottom: auto;
        left: 50%;
        margin-left: -25px;
        top: -20px;
        -webkit-transform: rotate(90deg) skewX(15deg);
        transform: rotate(90deg) skewX(15deg);
    }
    .single-timeline-content::after {
        bottom: -10px;
        left: 50%;
        margin-left: -11px;
        right: auto;
        top: auto;
    }
    .row.timeline .col-lg-6:nth-child(2n) .single-timeline-content::after {
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
    }
    .row.timeline .col-lg-6:last-child .single-timeline-content::after {
        display: none;
    }
    .single-blog {
        display: inherit;
        overflow: hidden;
    }
    .single-blog-image {
        margin-bottom: 20px;
    }
    .blog-meta {
        font-size: 40px;
    }
    .single-blog > div.col-lg-7 {
        padding-left: 15px;
    }
    .single-blog:nth-child(2n) > div.col-lg-7 {
        padding-left: inherit;
        padding-right: 15px;
    }
    .single-blog-image::after {
        right: -9.7%;
        width: 10%;
        z-index: 9;
    }
    .single-blog:nth-child(2n) .single-blog-image::after {
        border-bottom: 2px solid #ebebeb;
        border-top: 0 none;
        left: -10%;
        right: auto;
    }
    .row.gallery-list > div:last-child .single-gallery {
        margin-bottom: 0;
    }
    .gallery-img img {
        width: 100%;
    }
    .single-contact {
        padding: 0;
        text-align: center;
    }
    .contact-icon {
        display: block;
        margin: 0 auto;
        position: static;
        text-align: center;
    }
}


/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title h2 {
        font-size: 30px;
    }
    .single-about h3,
    .single-features h3 {
        font-size: 24px;
    }
    ul#nav {
        width: 100%;
        max-height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }
    ul#nav li {
        float: none;
    }
    .welcome-text {
        text-align: center;
    }
    .welcome-text h2,
    .welcome-text h3 {
        font-size: 40px;
    }
    .welcome-text h1 {
        font-size: 40px;
    }
    .call-to-action a {
        margin-bottom: 20px;
    }
    .area-title-and-description h2 {
        font-size: 40px;
        letter-spacing: 5px;
        margin-bottom: 40px;
    }
}